ion-toolbar,ion-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
ion-fab-button,ion-fab{
    --backgrund: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
ion-title {
    text-align: center;
}

ion-card-title, ion-card-content {
    text-align: center;
}

.BravoIconBox {
    width: 50%;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #5260ff;
}

#myBoxChart {
    margin-top: 30%;
}

#back-arrow{
    width: 50px;
    height: 50px;
    background-color: transparent;
}
#Tbutton{
    margin-bottom:30px;
}